/* ********* */

/* @TYPOGRAPHY */

/* ********* */

@import './../abstracts/variables';

* {
    font-family: map-get($map: $fonts, $key: secondary);
    
}

h1 {
    .dark & {
        color: $primarydark !important;

    }

    font-family: map-get($map: $fonts, $key: secondary) !important;
    font-size: map-get($map: $fontSize, $key: h1);
    color: $secondaryLight !important;
}

h2 {
    .dark & {
        color: $secondarydark !important;

    }

    font-family: map-get($map: $fonts, $key: secondary) !important;
    font-size: 2.5rem;
    color: $secondaryLight !important;
}

h3 {
    .dark & {
        color: $terciarydark !important;

    }

    font-family: map-get($map: $fonts, $key: secondary) !important;
    font-size: 4rem;
    color: $secondaryLight !important;
}

p {
    .dark & {
        color: $textoDefaultDark !important;

    }

    font-family: map-get($map: $fonts, $key: secondary) !important;
    font-size: 1rem;
    color: $secondaryLight !important;
    text-align: justify !important;
}

a {
    .dark & {
        color: $textoDefaultDark !important;

    }

    display: flex ;
    justify-content: center;
    font-family: map-get($map: $fonts, $key: secondary) !important;
    font-size: 1rem;
    color: $secondaryLight !important;
}

