/* ********* */

/* @HOME */

/* ********* */
.animacion {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  width: 20ch;
  animation: typing calc(0.2s * 25) steps(25) forwards;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
