/* ********* */
/* @BUTTONS */
/* ********* */
@import './../abstracts/variables';

.p-button {
    .dark & {
        background-color: #274bb6 !important;
    }

    background-color: #274bb6 !important;
    border: none !important;
}

.p-button-secondary {
    .dark & {
        background-color: #274bb6 !important;
    }

    background-color: #274bb6 !important;
    border: none !important;
}

.p-button-danger {
    .dark & {
        background-color: #274bb6 !important;
    }

    background-color: #274bb6 !important;
    border: none !important;
}