.p-dropdown {
    .dark & {
        background-color: $primarydark !important;
    }

    background-color: #f5f5f5 !important;

}

.p-dropdown-label {
    .dark & {
        color: $primarydark !important;
        border: none !important;
    }

    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    border: none !important;

}

.p-dropdown-items-wrapper {
    .dark & {
        background-color: $primarydark !important;
        border: none !important;
    }

    background-color: #f5f5f5 !important;
    border: none !important;

}

.p-overlay-open	{
    .dark & {
        background-color: $primarydark !important;
        border: none !important;
    }
    background-color: #f5f5f5 !important;
    border: none !important;

}